.separation{
	clear: both;
	position: absolute;
	margin-top :10px;
	margin-left: 250px;
	height: 600px;
	width : 0.5px;
	background: black;
}

.app-container{
    display: flex;
    
    margin-left: auto;
    margin-right: auto;
    padding: 12px;
    height: 100%;

}


a {
    color: rgb(73, 56, 223);
    text-decoration: none;
    padding: 20px;
  }

  
a:hover, a:active{
    text-decoration: none;
  }