<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <p class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['home']">Home <span class="sr-only">(current)</span></a>
      </p>
      <p class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" [routerLink]="['/pokemones']">Champignons</a>
      </p>
    </div>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>