<div class="page-header">
  <h1>Champignons Afrique</h1>
</div>
<div class="alert alert-dismissible alert-warning" *ngIf="pokemon.length == 0">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <h4 class="alert-heading">Oops!</h4>
  <p class="mb-0">connectez vous pour voir les types de champignon</p>
</div>
<div class="row">
  <div class="col-md-3" *ngFor="let pokemon of pokemon">
    <div class="panel panel-default">
      <div class="panel-body">
        <a [routerLink]="['/pokemon', pokemon.id]"><img class="img-responsive" src="../../../assets/img/{{pokemon.imagen}}"></a> 
      </div>
      <div class="panel-footer wite-color text-center">{{pokemon.nombre}}</div>
    </div>
  </div>
</div>