<div class="container">
  <form class="form-inline my-2 my-lg-0">
    <div class="form-group">
      <input class="form-control mr-sm-2" type="text" placeholder="Buscar..." (keyup.enter) = "buscarPokemon(terminoPokemon.value)" #terminoPokemon>
    </div>
    <button type="submit" (click)="buscarPokemon(terminoPokemon.value)" class="btn btn-secondary my-2 my-sm-0">Search</button>
  </form>
</div>
