<div class="container">
  <div class="jumbotron">
    <h1>Champignons</h1>
    <p>connectez vous pour voir les types de champignons</p>
    <p><a [routerLink]="['/pokemones']" class="btn btn-primary btn-lg">Ver champignons</a></p>
  </div>
</div>