<div class="page-header">
  <h1>{{pokemon[0].nombre}}</h1>
  <ul class="pag">
    <li class="previous">
      <a [routerLink]="['/pokemones']">&larr; Volver</a>
    </li>
  </ul>
</div>
<div class="row">
  <div class="col-md-3">
    <div class="panel panel-default">
      <div class="panel-body">
        <img class="img-responsive" src="../../../assets/img/{{pokemon[0].imagen}}" alt="">
      </div>
      <div class="panel-footer wite-color text-center">{{pokemon[0].nombre}}</div>
    </div>
  </div>
  <div class="col-md-9">
    <p>{{pokemon[0].bio}}</p>
  </div>
</div>