<div class="page-header">
  <h1>Champignons Afrique</h1>
</div>
<div class="row">
  <div class="col-md-3" *ngFor="let pokemon of pokemones">
    <div class="panel panel-default">
      <div class="panel-body">
        <a [routerLink]="['/pokemon', pokemon.id]"><img class="img-responsive" src="../../../assets/img/{{pokemon.imagen}}"></a> 
      </div>
      <div class="panel-footer wite-color text-center">{{pokemon.nombre}}</div>
    </div>
  </div>
</div>