<form novalidate [formGroup]="form" (ngSubmit)="addUser(form)" class="form-group" >
  <div class="form-group">
    <label for="name">name:</label>
    <input type="text" formControlName="name" class="form-control">
  </div>
  <div *ngIf="form.get('name').touched &&  form.get('name').invalid" class="alert alert-danger">
      <div *ngIf="form.get('name').hasError('required')">
          Name is required!
      </div>
      <div *ngIf="form.get('name').hasError('pattern')">
          Invalide Name!
      </div>
  </div>
  <div class="form-group">
    <label for="name">contact (Mobile No.) </label>
    <input type="text" formControlName="contact" class="form-control">
  </div>
  <div *ngIf="form.get('contact').touched &&  form.get('contact').invalid" class="alert alert-danger">
      <div *ngIf="form.get('contact').hasError('required')">
          Email is required!
      </div>
      <div *ngIf="form.get('contact').hasError('minLength')">
          Lest than 10 digits
      </div>
      <div *ngIf="form.get('contact').hasError('maxLength')">
          More than 10 digits
      </div>
      <div *ngIf="form.get('contact').hasError('pattern')">
          Invalide ontact!
      </div>
    </div>
  <div class="form-group">
    <label for="name">email:</label>
    <input type="text" formControlName="email" class="form-control">
  </div>
  <div *ngIf="form.get('email').touched &&  form.get('email').invalid" class="alert alert-danger">
    <div *ngIf="form.get('email').hasError('required')">
        Email is required!
    </div>
    <div *ngIf="form.get('email').hasError('email')">
        Invalid Email!
    </div>
  </div>
  <button type="submit" name="button" [disabled]="form.invalid" class="btn btn-success">Add User</button>
</form>

<ul class="list-group">
  <li *ngFor="let user of userList" class="list-group-item">
    {{user.name}}  |  {{user.contact}}  |  {{user.email}}
  </li>
</ul>
