<div class="row">
    <div class="col-lg-3">
        <div class="ro">
          <p></p>
        </div>
      </div>
 
    
      <div class="col-lg-6">
        <form [formGroup]="UserForm" id="UserForm" (ngSubmit)="OnSubmit(UserForm.value)">
          <div class="form-group">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" formControlName="Email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" formControlName="Password">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword">User Image</label>
            <input type="file" class="form-control" id="Image" #UserImage formControlName="UserImage">
          </div>
          <button type="submit" class="btn btn-success" >Envoyer</button>
        </form>
      </div>
    
<div class="col-lg-3">
  <div class="row">
    <p></p>
  </div>
</div>
</div>