html, body {
  padding: 0 !important;
  margin: 0 !important;
  font-family: sans-serif;
}

#app-root {
  margin: 0 !important;
  padding: 0 !important;
}

header {
  background: #eee;
    .app-container{
      display: flex;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;

      .vertical-space {
        flex: 2 2 auto;
      }

    }
}

main {
    padding: 0 !important;

    .app-container{
      display: block;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 12px;

      .job-2 {
        color: orange;
      }

    }

  }

footer {
    background: #222;
    color:#eee;
    position: relative;
    bottom: 0;
    padding-top: 5%;
    padding-bottom: 5%;

    .app-container{
      display: flex;
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
      padding: 12px;
      height: 100%;

    }

  }


  a {
    color: white;
    text-decoration: none;
    padding: 20px;
  }
  
  .nav1 {
    background-color: rgb(81, 58, 134);
    text-align: center;
    align-items: center;
  }
  
  
  .nav1  a {
    flex: 1 1 auto;
    font-size: 14px !important;
  }

  .nav {
    text-align: center;
    align-items: center;
  }

  .nav a{
    color: rgb(84, 112, 206);
    flex: 1 1 auto;
    font-size: 14px !important;
    padding: 10px;
  }

  ul{
    padding: 20px;
    list-style: none;
    display: inline-block;
  }

a:hover, a:active{
  text-decoration: none;
}

h1,h2,h4{
  font-family: "PT Sans Narrow", Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

p{
  font-size: 15PX;
  line-height: 21px;
}

.btn{
  transition: all 300ms ease-in-out;
  font-weight: 500 !important;
  text-transform: uppercase;
}

.btn:hover{
  background-color: #ededed;
  color: #3c3c3c !important;
  border: 1px solid #fff;
}