<nav class="nav1">
  <a routerLink = "./welcom">Full Connect</a>
</nav>
<div id="myNavbar" class="navbar navbar-default">
  <div class="container">
      <div class="navbar-header">
          <button type="submit" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" routerLink ='/welcom'>Bot Univercity Afica</a> <br />
      </div>
      <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a routerLink = "./gallery">Gallery</a></li> 
            <li><a routerLink = "./form01">Complet Learn</a></li> 
            <li><a routerLink = "./reactiveform">Contact Us</a></li> 
            <li><a routerLink = "./blog">Blog</a></li> 
          </ul>
      </div>
  </div>
</div>
<main>
  <!-- primary content -->
  <router-outlet></router-outlet>
</main>
        
<footer>
  <div class="app-container">
    <div class="app-content">
      Copyright © 2017 inovation technology.
    </div>
  </div>
</footer>
