.carousel-caption{
    top: 60%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #5e44b5;
}

.btn{
    font-size: 18px;
    color: #fff;
    padding: 12px 22px;
    background-color: #5e44b5;
}

.btn a{
    color: white;
    text-transform: uppercase;
}

#icon{
    max-width: 200px;
    margin: 1% auto;
}

.img-responsive{
    max-width: 450px;
    margin: 1% auto;
}

.text-center{
    padding: 30px;
}

.text{
    padding: 10px;
}

@media (max-width: 600px){
    .carousel-caption{
        display: none;
    }
    #icon{
        max-width: 150px;
    }
    h4{
        font-size: 1.9em;
    }
}