<div class="app-container">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <div class="row">
          <p class="nav-item" [routerLinkActive]="['active']"> 
            <a class="nav-link" routerLink = "/bootstrap">Bootstrap</a> 
          </p>
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/chatbot">ChatBot</a>
          </p> 
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/learncss">Learncss</a> 
          </p>
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/learnhtml">Learnhtml</a> 
          </p>
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/learnjs">Learnjs</a>
          </p> 
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/learnphp">Learnphp</a> 
          </p>
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/learnsql">Learnsql</a> 
          </p>
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/nodejs">Nodejs</a>
          </p> 
          <p class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" routerLink = "/wordpress">Wordpress</a> 
          </p>
        </div>
      </div>
    <div class="col-md-7">
      <div class="row">
        <h3>Name: <span style="color:green;font-size:18px">{{selectedEmployeeData.selectedName}}</span></h3>
        <h3>City: <span style="color:green;font-size:18px">{{selectedEmployeeData.selectedCity}}</span></h3>
        <h3>Email: <span style="color:green;font-size:18px">{{selectedEmployeeData.selectedEmail}}</span></h3>
        <app-nodejs 
        [name]="employee.eName"
        [city]="employee.eCity"
        [email]="employee.eEmail"
        (sendRecord)="getRecord($event)"
        *ngFor="let employee of employeeRecord">Avoir la liste des chercheurs web au cameroun </app-nodejs>         
          <router-outlet></router-outlet>
      </div>
    </div>
    <div class="col-md-2">
      <div class="row">
        <p>produit</p>
      </div>
    </div>
  </div>
 </div>
</div>