<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2 class="etude1">Apprendre Php Complet Avec Les Projets</h2>
      <h3 class="etude2">Objectif:</h3>
      <ol class="faire">
        <li><h4>Etudes Niveau Debutant</h4></li>
        <li><h4>Etudes Niveau Intermediaire</h4></li>
        <li><h4>Realiser Un Projet Complet</h4></li>
        <li><h4>Niveau Proffetionnel</h4></li>
      </ol>
      <h3 class="etud1">Cours Php Niveau Débutant de A à Z</h3><br>
      <p>Commençons tout dabord par enregistrer le dossier-> fichier dans <strong>xampp</strong>
        comme suite:
        <strong>->Ouvrez Xampp -> htdocs</strong>
        <strong>Créez un nouveau dossier dans htdocs</strong>
        <strong>Créez un nouveau fichier .php puis enregistré</strong> 
      </p>
      <p>Php permet de rendre les pages web dynamiques</p>
      
      <h4><a href="#hidden" data-toggle="collapse">Les Variables En Php</a></h4>
      <div class="collapse" id="hidden">
        <h4>Débutez avec la structure du code php</h4>
        <p> Le code php se reconnais par la stucture suivante:
          signe inférieure + (?) suivit de (php) et on ferme avec (?) et signe supperieure
          et a la fin de chaque instruction on place toujour le point virgule
        </p>
        <p><strong>Le Variable:</strong> est un element qui nous permetent de 
          gardé les objets de maniere temporère.
        </p>
     </div>
     <h3><a href="#hidden1" data-toggle="collapse">Les conditions en php</a></h3>
      <div class="collapse" id="hidden">
        <h4>Les conditiions en php</h4>
        <p> Llace toujour le point virgule
        </p>
        <p> maniere temporère.
        </p>
     </div>
     <h3><a href="#hidden" data-toggle="collapse">Les Types en php</a></h3>
      <div class="collapse" id="hidden">
        <h4>Les conditiions en php</h4>
        <p> Llace toujour le point virgule
        </p>
        <p> maniere temporère.
        </p>
     </div>
    </div>
  </div>
</div>