<h3>Name: <span style="color:green;font-size:18px">{{employeeName}}</span></h3>
<h3>City: <span style="color:green;font-size:18px">{{employeeCity}}</span></h3>
<h3>Email: <span style="color:green;font-size:18px">{{employeeEmail}}</span></h3>
<button (click)="emitSendRecordEvent()">Select Record</button>