<div class="container">
  <div class="row">
    <div class="etude col-sm-6">
      <h2 class="etude1">Etudes Complets De Wordpress</h2><br>
      <h3 class="etude2">Objectif:</h3>
      <ol class="faire">
        <li><h4>Installation De Xampp</h4></li>
        <li><h4>Installation De Wordpress</h4></li>
        <li><h4>Apprendre Le Contenu De Wordpress</h4></li>
      </ol>
      <h3 class="etud1">Comment Installer Xampp Sur Windows</h3><br>
      <p>Aller sur le site de téléchargement
        <a href="https://www.apachefriends.org/fr/download.html">www.apachefriends.org</a>
        et de plus il en existe plusieur. téléchargeable gratuitement
      </p>
      <p>Après avoir téléchargé installer simplement en clicquent sur suivant suivant jusqu'a sa fin</p>
      <h3 class="etud1">Comment Installer Wordpress Sur Notre Serveur Xampp</h3>
      <p>Commençons par télécharger wordpress sur
        <a href="http://www.wordpress.org">wordpress.org</a>.
        ouvrez xampp et clicquez sur start pour <strong>Apache</strong> et sur start pour <strong>Mysql</strong>
        patientez jusqu'au vert pour les deux.
        clicquez sur <strong>Admin</strong> de <strong>Mysql</strong> et bienvenue
        <strong>PhpMyadmin</strong> qui s'ouvre dans votre navigateur
      </p>
      <h3 class="etude2">Exemple:</h3>
      <p>Créeons un site avec pour nom <strong>wtrbbotcamer</strong></p>
      <ul>
        <li>Dans <strong>PhpMyadmin</strong> cliquez sur <strong>Nouvelle Base De Données</strong> 
          a gauche plus haut ou sur <strong>Base De Données</strong>
          sur le menus .
        </li>
        <li>Vous verez <strong>Créer une base de données</strong></li>
        <li>Ouvrez wordpress fichier <strong>.zip</strong> deplacer le vers un autre docier ou
          sur le bureau cela ce decompress en <strong>Dossier Wordpress</strong>
        </li>
        <li>Copiez et colez le docier dans xampp comme suite:
          <strong>->Ouvez le dossier Xampp</strong>
          <strong>->Ensuit htdocs et copier le dossier wordpress dans htdocs</strong>
          <strong>->Changez le nom du dossier <p>wordpress</p> en wtrbunivercitybot</strong>
          <strong>->Ouvrez le dossier <p>wtrbunivercitybot</p></strong>double-cliquez sur le fichier
          <strong>wp-config-sample.php</strong>changez define
          <strong>('DB_NAME,', 'wtrbbotcamer');</strong>
          define<strong>('DB_USER,', 'root');</strong>
          define<strong>('DB_PASSWORD,', ' ');</strong>
          </li>
          <li>Changez <strong>wp-config-sample.php</strong>
            en <strong>wp-config.php</strong> puis (enregistré-sous) en fin (enregistré)
          </li>
      </ul>
    </div>
  </div>
</div>
