 <div class="container">
    <div id="myCarousel" class="carousel slider" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="0"></li>
            <li data-target="#myCarousel" data-slide-to="0"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="../../../assets/image/18.jpeg" alt="">
            <div class="carousel-caption">
                <h1>Myciculture Informatique En Afrique</h1>
                <br>
                <button class="btn btn-primary"><a routerLink = "./votes">Votes course</a></button>
            </div>
        </div>
        <div class="item">
            <img src="../../../assets/image/23.jpeg" alt="">
        </div>
        <div class="item">
            <img src="../../../assets/image/27.jpeg" alt="">
        </div>
        </div>
        <a href="#myCarousel" class="left carousel-control" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a href="#myCarousel" class="right carousel-control" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
    <div class="container text-center">
        <h2 class="text">Comment Vous Instruires</h2>
        <div class="row">
            <div class="col-sm-4">
                <img src="../../../assets/image/5.png" id="icon">
                <h4>CHATBOT</h4>
                <p>Apprendre a realiser un chatbot</p>
                <p>est un moyen de participer </p>
                <p>a l'inovation d'entreprise</p>
            </div>
            <div class="col-sm-4">
                <img src="../../../assets/image/7.jpeg" id="icon">
                <h4>RECETTE CHAMPIGNON</h4>
                <p>Le champignon est une plante qui a des roles</p>
                <p>tres importantes dans la medecine et la</p>
                <p>la nutrition</p>
            </div>
            <div class="col-sm-4">
                <img src="../../../assets/image/17.jpeg" id="icon">
                <h4>WEB MOBILE</h4>
                <p>Ce former dans le web design reduire le tot de</p>
                <p>chaumage dans un pays cas dans le web </p>
                <p>on cree merci!</p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h4>La culture du champinon est un bisnesse en croissance</h4>
                <p>Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                    Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                </p>
                <p>Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                    Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                </p>
            </div>
            <div class="col-md-6">
                <img src="../../../assets/image/17.jpeg" class="img-responsive">
            </div>
        </div>
    </div>

<div class="container">
        <div class="row">
            <h4><a href="#hidden" data-toggle="collapse">Contenue des etudes univercel</a></h4>
            <div class="collapse" id="hidden">
                <h4>La culture du champinon est un bisnesse en croissance</h4>
                <p>Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                    Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                </p>
                <p>Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                    Outils Google pour développer des applications, échanger avec vos utilisateurs 
                    et augmenter vos revenus avec des annonces pour mobile.
                </p>
            </div>
      </div>
  </div>
</div>   
<router-outlet></router-outlet>
